@import url('https://fonts.cdnfonts.com/css/ds-digital');

.logo {
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 3vw;
    margin-bottom: 1vh;
    margin-left: 1vw;
    pointer-events: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    transition: background-color 0.3s;
    gap: 3vh;
}

.buttons {
    display:flex;
    flex-direction: row;
    gap: 3vw;
    cursor: pointer;
}

.start {
    height: 4vh;
    width: 6vw;
    background-color: rgb(83, 255, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6vw;
    font-family: 'DS-Digital', sans-serif;
    font-size: 130%;
    transition: background-color 0.3s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.stop {
    height: 4vh;
    width: 6vw;
    background-color: rgb(255, 83, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6vw;
    font-family: 'DS-Digital', sans-serif;
    font-size: 130%;
    transition: background-color 0.3s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.clear {
    height: 4vh;
    width: 6vw;
    background-color: rgb(255, 246, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6vw;
    font-family: 'DS-Digital', sans-serif;
    font-size: 130%;
    transition: background-color 0.3s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.number {
    font-family: 'DS-Digital', sans-serif;
    font-size: 80px;
    margin: 0;
    transition: background-color 0.3s;
}

.slider {
    display: flex;
    align-items: center;
    height: 4vh;
    width: 5vw;
    background-color: rgb(173, 173, 173);
    border-radius: 6vw;
    transition: background-color 0.3s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.circle {
    height: 4vh;
    width: 4vh;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.dark-light-switch {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}

.dltext {
    margin: 0;
    font-size: 4vh;
    transition: background-color 0.3s;
    font-family: 'DS-Digital', sans-serif;
}

.title {
    font-size: 10vh;
    margin: 0;
    transition: background-color 0.3s;
    font-family: 'DS-Digital', sans-serif;
}